*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hidden{
    display: none !important;
}
.container-fluid{
    padding: 0;
    
}
a{
    text-decoration: none;
    color:$primary-color;
    &:hover{
        color:$primary-color;
        text-decoration: underline;
    }
}